# Auto detect text files and perform LF normalization
* text=auto

# JavaScript
*.js text eol=lf
*.json text eol=lf

# HTML
*.html text eol=lf

# CSS
*.css text eol=lf

# Markdown
*.md text eol=lf

# Images
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.svg text

# Archives
*.zip binary
*.tar binary
*.gz binary

# Linguist overrides for better language detection
*.js linguist-language=JavaScript
*.css linguist-language=CSS
*.html linguist-language=HTML
docs/* linguist-documentation
*.md linguist-documentation
